.body{
background-color: #bdb796 !important;
}

.breadcrumb {
    background-color: #46c3b6 !important;
}

.breadcrumb-item.active {
     color: #262628;
     font-weight: bold;

}
.space{
    margin-top: 60px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid;
    border-color:#a9c8bc;
}

.jumbotron {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif didot !important;
}
.logo{
    width: 50px;
    float: left; margin: 0px 15px 15px 0px;
}
